body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table a,.table a:hover, .table a:focus  {
  color: black;
  font-weight: bold;
}

.margin-add-1{
  margin-top: 5%;
}

.margin-add-2{
  margin-top: 10%;
}