/*-- Login Widget --*/
address{
    font-size: 70%;
    margin-top: 8%;
    color: white;
}
#login-widget .panel-body .input-group {
    margin-bottom: 15px;
}
#login-widget .panel-footer {
    padding: 0px;
    border: none;
    border-radius: 5px;
}
#login-widget .panel-footer .login-btn {
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
}
#login-widget .panel-footer .facebook {
    background-color: #1c2a48;
    color: #fff;
    padding: 15px;
    display: block;
    border-radius: 10px;
}
#loginform{
   background-color: #1c2a48;
   border-radius: 10px;
}
/*-- BS3 Modified Classes --*/
.panel {
    border: none;
    margin-top: 6%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.panel-body {
    padding: 20px;
}
.panel-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-footer {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*-- Common Use Classes --*/
.btn-ui {
    background-color: #1c2a48;
    border-color: #1c2a48;
    color: #fff;
}
.btn-ui:hover {
    background-color: #1c2a48;
    color: #fff;
}
.list-block {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.list-block ul {
    display: table-row;
}
.list-block li {
    display: table-cell;
    margin: 0;
}
.pad-left-0 {
    padding-left: 0px;
}
.pad-right-0 {
    padding-right: 0px;
}
.mrg-btm-10 {
    margin-bottom: 10px;
}
.mrg-btm-20 {
    margin-bottom: 20px;
}

input::-webkit-input-placeholder{
  color:white !important;
}

input.ng-invalid.ng-touched {
	border: 1px solid #DA3637;
}
input.ng-valid.ng-touched {
	border: 1px solid #509D12;
}
.ng-invalid.btn{
	background: gray;
}
.error{
	color:red;
	padding-bottom:10px;
}

body {
    background:url('/images/back.jpg');
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #1c2a48;
    border: 1px solid rgba(0,0,0,0.1);
}

.form-signin-heading,
.checkbox {
    margin-bottom: 10px;
    color: #1c2a48;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-footer {
    background-color: white;
    border-top: 0px;
}
.login-btn a, label {
    color: #1c2a48;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #1c2a48;
}

.navbar-default {
    background-color: #1c2a48;
    border-color: #1c2a48;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: white;
    text-decoration: none;
    background-color: #1c2a48;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #1c2a48; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.navbar-default .navbar-nav > .active{
    color: white;
    background: #1c2a48;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #1c2a48;
    background: white;
}