div.side-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.side-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.side-tab-menu div.list-group{
  margin-bottom: 0;
}
div.side-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.side-tab-menu div.list-group>a .glyphicon,
div.side-tab-menu div.list-group>a .fa {
  color: #0084b4;
  margin: 38px 0px 38px 0px;
}
div.side-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.side-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.side-tab-menu div.list-group>a.active,
div.side-tab-menu div.list-group>a.active .glyphicon,
div.side-tab-menu div.list-group>a.active .fa{
  background-color: #0084b4;
  color: #ffffff;
}
div.side-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #0084b4;
}

div.side-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
  margin: 130px 0px 0px 0px;
}

div.side-tab div.side-tab-content:not(.active){
  display: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0084b4;
  background: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #0084b4;
}

.navbar-default {
  background-color: #0084b4;
  border-color: #0084b4;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: #0084b4;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #0084b4; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0084b4;
  background: white;
}