/*-- Login Widget --*/
#login-widget .panel-body .input-group {
    margin-bottom: 15px;
}
#login-widget .panel-footer {
    padding: 0px;
    border: none;
    border-radius: 5px;
}
#login-widget .panel-footer .login-btn {
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
}
#login-widget .panel-footer .facebook {
    background-color: #5F90B0;
    color: #fff;
    padding: 15px;
    display: block;
    border-radius: 10px;
}
#loginform{
   background-color: #E43B2C;
   border-radius: 10px;
}
/*-- BS3 Modified Classes --*/
.panel {
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.panel-body {
    padding: 20px;
}
.panel-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-footer {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*-- Common Use Classes --*/
.btn-ui {
    background-color: #E43B2C;
    border-color: #E43B2C;
    color: #fff;
}
.btn-ui:hover {
    background-color: #E43B2C;
    color: #fff;
}
.list-block {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.list-block ul {
    display: table-row;
}
.list-block li {
    display: table-cell;
    margin: 0;
}
.pad-left-0 {
    padding-left: 0px;
}
.pad-right-0 {
    padding-right: 0px;
}
.mrg-btm-10 {
    margin-bottom: 10px;
}
.mrg-btm-20 {
    margin-bottom: 20px;
}

/*input[type=text]{
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgrey;
}

h3.whiteText{
    color: white;
    margin-left: 20px;
}

.whiteText{
    font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: 40px;
}*/

input::-webkit-input-placeholder{
  color:white !important;
}

/*button.buttonLogin
{
    margin-top: 25px ;
    margin-left: 30px;
    width: 230px;
    height: 3em;
    padding: 10px 60px ;
    color: #55acee;
    background-color: floralwhite;
}
#name{
    margin-left: 30px;
    margin-bottom: 10px;
}
#password{
    margin-left: 30px;
}
input{
    color: floralwhite !important;
}
#wrapper{
    border-radius: 30px;
}
#hr{
    margin-top: 10px;
}
input[type="password"]{
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgrey;
}*/
input.ng-invalid.ng-touched {
	border: 1px solid #DA3637;
}
input.ng-valid.ng-touched {
	border: 1px solid #509D12;
}
.ng-invalid.btn{
	background: gray;
}
.error{
	color:red;
	padding-bottom:10px;
}