<html>
<head>
<% include partials/metaTags.ejs %>
        <title>Intelligent Travel Application | LogIn</title>
        <% include partials/headTags.ejs %>
        <link rel='stylesheet' href='/stylesheets/styleLogIn.css' />
        <script src='../javascripts/lib/checklist-model.js'></script>
     	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   	 <!-- Google Map Library -->
    	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUqkibInSxd_HM9LB4H6ti-dGL77vSfAk&v=3&libraries=geometry"></script>
   		<script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
        <script src="../javascripts/app.js"> </script>
</head>
<body>
hello
</body>
</html>