<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/metaTags.ejs %>
    <title>Intelligent Travel Application | Booking</title>
    <% include partials/headTags.ejs %>
    
    <script src='../javascripts/lib/checklist-model.js'></script>
    <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='/stylesheets/styleBooking.css'/>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="/stylesheets/main.css" rel="stylesheet"/>
    <!-- Google Map Library -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUqkibInSxd_HM9LB4H6ti-dGL77vSfAk&v=3&libraries=geometry"></script>
    <script src="/javascripts/mapProperties.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
    <script src="../javascripts/lib/bootstrap.min.js"></script>
    <script src="../javascripts/app.js"> </script>
    <script src="../javascripts/angular/bookingController.js"> </script>
</head>
<body ng-app="ITA" ng-controller="bookingController" ng-init="init('<%= email %>')">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logotext" href="#" style = "color:white;">Intelligent Travel Agent</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home"><span class="glyphicon glyphicon-home"
                                          aria-hidden="true"></span> Home</a></li>
                <li class="active"><a href="#"><span class="glyphicon glyphicon-plane"
                                                     aria-hidden="true"></span> Booking</a></li>
                <li><a href="/profile">
                        <span class="glyphicon glyphicon-home"
                              aria-hidden="true"></span> Profile</a>
                </li>
                <li><a href="/logOut">
                        <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<highchart id="chart1" class="panel-custom" config="chartFlightConfig"></highchart>
<highchart id="chart2" class="panel-custom" config="chartCarConfig"></highchart>
<highchart id="chart3" class="panel-custom" config="chartHotelConfig"></highchart>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_default_1" data-toggle="tab">
                            Upcoming Bookings</a>
                    </li>
                    <li>
                        <a href="#tab_default_2" data-toggle="tab">
                            Past Bookings</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">
                        <div class="dashboard display-animation" style="margin: 0 auto; width: 100%;">
                            <div dir-paginate="booking in fullFutureData.data | itemsPerPage:itemsPerPage1" pagination-id="future">
                                <div ng-controller="showModal">
                                    <script type="text/ng-template" id="showModal.html">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
                                            <h4 class="heading">{{selectedModule | uppercase}} DETAILS :</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div ng-if="selectedModule == 'car'">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                    <tr>
                                                        <td>Destination:</td>
                                                        <td>{{data.destination}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Type:</td>
                                                        <td>{{data.carType}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Pickup Date:</td>
                                                        <td>{{sDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Drop Date:</td>
                                                        <td>{{eDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Price</td>
                                                        <td>{{data.dailyRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mileage</td>
                                                        <td>{{data.mileage}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Rental Agency</td>
                                                        <td>{{data.rentalAgency}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Seating</td>
                                                        <td>{{data.seating}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Model</td>
                                                        <td>{{data.carModel}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Brand</td>
                                                        <td>{{data.carBrand}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Features:</td>
                                                        <td ng-repeat="item in data.carFeatures">{{item}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="selectedModule == 'flight'">
                                                <table class="table table-user-information">
                                                    <tr>
                                                        <td><b>Arrival</b></td>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;City:</td>
                                                        <td>&nbsp;&nbsp;{{data.source.city}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Airport Code:</td>
                                                        <td>&nbsp;&nbsp;{{data.source.airportCode}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Airport Name:</td>
                                                        <td>&nbsp;&nbsp;{{data.source.airportName}}</td>
                                                    </tr>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Departure</b></td>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;City:</td>
                                                        <td>&nbsp;&nbsp;{{data.destination.city}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Airport Code:</td>
                                                        <td>&nbsp;&nbsp;{{data.destination.airportCode}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Airport Name:</td>
                                                        <td>&nbsp;&nbsp;{{data.destination.airportName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Departure Date:</td>
                                                        <td>{{sDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Departure Time:</td>
                                                        <td>&nbsp;&nbsp;{{data.departureTime}}</td>
                                                    </tr>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Carrier</b></td>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Name:</td>
                                                        <td>&nbsp;&nbsp;{{data.carrier}}</td>
                                                    </tr>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Trip</b></td>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Duration:</td>
                                                        <td>&nbsp;&nbsp;{{data.duration}} minutes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Class:</td>
                                                        <td>&nbsp;&nbsp;{{data.class}}</td>
                                                    </tr>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Pricing</b></td>
                                                    <tr>
                                                        <td>&nbsp;&nbsp;Amount Paid:</td>
                                                        <td>&nbsp;&nbsp;{{data.price}}</td>
                                                    </tr>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="selectedModule == 'hotel'">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                    <tr>
                                                        <td>Hotel Name:</td>
                                                        <td>{{data.hotelName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Check-in Date:</td>
                                                        <td>{{sDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Checkout Date:</td>
                                                        <td>{{eDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Property Type:</td>
                                                        <td>{{data.propertyType}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Location</td>
                                                        <td>{{data.destination}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Room Type</td>
                                                        <td>{{data.roomType}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Max Occupancy</td>
                                                        <td>{{data.maxOccupancy}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Daily Rate</td>
                                                        <td>{{data.dailyRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Star Rating</td>
                                                        <td>{{data.starRating}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Amenities</td>
                                                        <td ng-repeat="item in data.amenities">{{item}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default button-color" ng-click="cancel()">Cancel</button>
                                        </div>
                                    </script>
                                    <a class="tile tile-lg tile-blue" href="#"  ng-click="open();setValue(fullFutureData, booking.mongo_id,
                                            booking.module, booking.start_date, booking.end_date)">
                                        <span class="tile-content">
                                            <span class="tile-img"></span>
                                            <span class="tile-holder tile-holder-sm">
                                                <h1 class="title">Booked {{booking.module}}</h1>
                                            </span>
                                            <span ng-if="booking.module == 'flight'">From: {{booking.source}}</span>
                                            <span ng-if="booking.module == 'flight' || booking.module == 'car'">To: {{booking.destination}}</span>
                                            <span ng-if="booking.module == 'hotel'">Location: {{booking.destination}}</span>
                                            <p>Paid: {{booking.price}}</p>
                                        </span>
                                    </a>
                                    <center><button type="button" class="btn btn-default" style=" color:  #ffffff;
    background-color: #f3565d;" ng-click="cancelBooking(booking.booking_id)">Cancel</button></center>
                                </div>
                            </div>
                            <dir-pagination-controls style="margin-left: 41%;"
                                        pagination-id="future"
                                        max-size="maxSize1"
                                        direction-links="true"
                                        boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_default_2">
                        <div class="dashboard display-animation" style="margin: 0 auto; width: 100%;">
                            <div dir-paginate="booking in fullData.data | itemsPerPage:itemsPerPage1"  pagination-id="past">
                                <div ng-controller="showModal">
                                    <script type="text/ng-template" id="showModal.html">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
                                            <h4 class="heading">{{selectedModule | uppercase}} DETAILS :</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div ng-if="selectedModule == 'car'">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                    <tr>
                                                        <td>Destination:</td>
                                                        <td>{{data.destination}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Type:</td>
                                                        <td>{{data.carType}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Pickup Date:</td>
                                                        <td>{{sDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Drop Date:</td>
                                                        <td>{{eDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Price</td>
                                                        <td>{{data.dailyRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mileage</td>
                                                        <td>{{data.mileage}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Rental Agency</td>
                                                        <td>{{data.rentalAgency}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Seating</td>
                                                        <td>{{data.seating}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Model</td>
                                                        <td>{{data.carModel}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Brand</td>
                                                        <td>{{data.carBrand}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Features:</td>
                                                        <td ng-repeat="item in data.carFeatures">{{item}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="selectedModule == 'flight'">
                                                <table class="table table-user-information">
                                                    <tr>
                                                        <td><b>Arrival</b></td>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;City:</td>
                                                            <td>&nbsp;&nbsp;{{data.source.city}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Airport Code:</td>
                                                            <td>&nbsp;&nbsp;{{data.source.airportCode}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Airport Name:</td>
                                                            <td>&nbsp;&nbsp;{{data.source.airportName}}</td>
                                                        </tr>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Departure</b></td>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;City:</td>
                                                            <td>&nbsp;&nbsp;{{data.destination.city}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Airport Code:</td>
                                                            <td>&nbsp;&nbsp;{{data.destination.airportCode}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Airport Name:</td>
                                                            <td>&nbsp;&nbsp;{{data.destination.airportName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Departure Date:</td>
                                                            <td>{{sDate}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Departure Time:</td>
                                                            <td>&nbsp;&nbsp;{{data.departureTime}}</td>
                                                        </tr>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Carrier</b></td>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Name:</td>
                                                            <td>&nbsp;&nbsp;{{data.carrier}}</td>
                                                        </tr>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Trip</b></td>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Duration:</td>
                                                            <td>&nbsp;&nbsp;{{data.duration}} minutes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Class:</td>
                                                            <td>&nbsp;&nbsp;{{data.class}}</td>
                                                        </tr>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Pricing</b></td>
                                                        <tr>
                                                            <td>&nbsp;&nbsp;Amount Paid:</td>
                                                            <td>&nbsp;&nbsp;{{data.price}}</td>
                                                        </tr>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="selectedModule == 'hotel'">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                    <tr>
                                                        <td>Hotel Name:</td>
                                                        <td>{{data.hotelName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Check-in Date:</td>
                                                        <td>{{sDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Checkout Date:</td>
                                                        <td>{{eDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Property Type:</td>
                                                        <td>{{data.propertyType}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Location</td>
                                                        <td>{{data.destination}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Room Type</td>
                                                        <td>{{data.roomType}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Max Occupancy</td>
                                                        <td>{{data.maxOccupancy}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Daily Rate</td>
                                                        <td>{{data.dailyRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Star Rating</td>
                                                        <td>{{data.starRating}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Amenities</td>
                                                        <td ng-repeat="item in data.amenities">{{item}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default button-color" ng-click="cancel()">Cancel</button>
                                        </div>
                                    </script>
                                    <a class="tile tile-lg tile-blue" href="#"  ng-click="open();setValue(fullData, booking.mongo_id,
                                            booking.module, booking.start_date, booking.end_date)">
                                        <span class="tile-content">
                                            <span class="tile-img"></span>
                                            <span class="tile-holder tile-holder-sm">
                                                <h1 class="title">Booked {{booking.module}}</h1>
                                            </span>
                                            <span ng-if="booking.module == 'flight'">From: {{booking.source}}</span>
                                            <span ng-if="booking.module == 'flight' || booking.module == 'car'">To: {{booking.destination}}</span>
                                            <span ng-if="booking.module == 'hotel'">Location: {{booking.destination}}</span>
                                            <p>Paid: {{booking.price}}</p>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <dir-pagination-controls style="margin-left: 40%;"
                                    pagination-id="past"
                                    max-size="maxSize1"
                                    direction-links="true"
                                    boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<legend><center><h2>Booking History</h2></center></legend>
<div class="col-xs-12 margin-add-1">
    <div class="input-group">
        <input type="Text" id="myInput" placeholder="Search" class="col-xs-6 form-control" ng-model="filter">
    </div>
</div>
<div class="col-xs-12 margin-add-2">
    <table class="table table-responsive table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th><a href="#" ng-click="sortType = 'booking_id'; sortReverse = !sortReverse">
                        ID
                        <span ng-show="sortType == 'booking_id' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'booking_id' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'module'; sortReverse = !sortReverse">
                        Module
                        <span ng-show="sortType == 'module' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'module' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'source'; sortReverse = !sortReverse">
                        Source
                        <span ng-show="sortType == 'source' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'source' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'destination'; sortReverse = !sortReverse">
                        Destination
                        <span ng-show="sortType == 'destination' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'destination' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">
                        Start Date
                        <span ng-show="sortType == 'startDate' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'startDate' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'endDate'; sortReverse = !sortReverse">
                        End Date
                        <span ng-show="sortType == 'endDate' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'endDate' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                        Price
                        <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="booking in fullData.data | orderBy:sortType:sortReverse | filter:filter | itemsPerPage:itemsPerPage" ng-click="showMap(booking)" pagination-id="booking">
                <td scope="row">{{booking.booking_id}}</td>
                <td>{{booking.module}}</td>
                <td>{{booking.source}}</td>
                <td>{{booking.destination}}</td>
                <td>{{booking.start_date}}</td>
                <td>{{booking.end_date}}</td>
                <td>{{booking.price}}</td>
            </tr>
        </tbody>
    </table>
    <center>
        <dir-pagination-controls
                pagination-id="booking"
                max-size="maxSize"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>
    </center>
</div>
<div class="col-xs-12" ng-show="displayMap==true">
    <div class="row">
        <legend><center><h2>Google Map</h2></center></legend>
        <div>
            <center>
                <div id="map_canvas"></div>
            </center>
        </div>
        <div>
        </div>
        <div id="footer">
            <marquee behavior="alternate">Intelligent Travel Agent
                &copy; Since 2017, San Jose State University</marquee>
        </div>
    </div>
</div>

<script type="text/javascript">
        (function($) {
            var speed = 2000;
            var container =  $('.display-animation');
            container.each(function() {
                var elements = $(this).children();
                elements.each(function() {
                    var elementOffset = $(this).offset();
                    var offset = elementOffset.left*0.8 + elementOffset.top;
                    var delay = parseFloat(offset/speed).toFixed(2);
                    $(this)
                        .css("-webkit-animation-delay", delay+'s')
                        .css("-o-animation-delay", delay+'s')
                        .css("animation-delay", delay+'s')
                        .addClass('animated');
                });
            });
        })(jQuery);

        (function($) {
            $(".ripple-effect").click(function(e){
                var rippler = $(this);

                // create .ink element if it doesn't exist
                if(rippler.find(".ink").length == 0) {
                    rippler.append("<span class='ink'></span>");
                }

                var ink = rippler.find(".ink");

                // prevent quick double clicks
                ink.removeClass("animate");

                // set .ink diametr
                if(!ink.height() && !ink.width())
                {
                    var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                    ink.css({height: d, width: d});
                }

                // get click coordinates
                var x = e.pageX - rippler.offset().left - ink.width()/2;
                var y = e.pageY - rippler.offset().top - ink.height()/2;

                // set .ink position and add class .animate
                ink.css({
                    top: y+'px',
                    left:x+'px'
                }).addClass("animate");
            })
        })(jQuery);
</script>
</body>
</html>