<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/metaTags.ejs %>
    <title>Intelligent Travel Application | Booking</title>
    <% include partials/headTags.ejs %>
    <script src="../javascripts/angular/bookingController.js"> </script>
    <link rel='stylesheet' href='/stylesheets/styleBooking.css'/>
</head>
<body ng-app="bookingApp" ng-controller="bookingController" ng-init="init('<%= email %>')">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logotext" href="#" style = " color:#E43B2C;">Intelligent Travel Agent</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile">
                        <span class="glyphicon glyphicon-home"
                              aria-hidden="true"></span> Home</a>
                </li>
                <li class="active"><a href="#"><span class="glyphicon glyphicon-plane"
                                                     aria-hidden="true"></span> Booking</a></li>
                <li><a href="/logOut">
                        <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<center><h2>Booking History</h2></center>
<div class="col-xs-12 margin-add-1">
    <div class="input-group">
        <input type="Text" id="myInput" placeholder="Search" class="col-xs-6 form-control" ng-model="filter">
    </div>
</div>
<div class="col-xs-12 margin-add-2">
    <table class="table table-responsive table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th><a href="#" ng-click="sortType = 'booking_id'; sortReverse = !sortReverse">
                        ID
                        <span ng-show="sortType == 'booking_id' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'booking_id' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'module'; sortReverse = !sortReverse">
                        Module
                        <span ng-show="sortType == 'module' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'module' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">
                        Start Date
                        <span ng-show="sortType == 'startDate' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'startDate' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'endDate'; sortReverse = !sortReverse">
                        End Date
                        <span ng-show="sortType == 'endDate' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'endDate' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'destination'; sortReverse = !sortReverse">
                        Destination
                        <span ng-show="sortType == 'destination' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'destination' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                        Price
                        <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="booking in bookings | orderBy:sortType:sortReverse | filter:filter">
                <td scope="row">{{booking.booking_id}}</td>
                <td>{{booking.module}}</td>
                <td>{{booking.start_date}}</td>
                <td>{{booking.end_date}}</td>
                <td>{{booking.destination}}</td>
                <td>{{booking.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>